html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

h1, h2, h3 {
    margin: 0 0 35px;
    text-transform: capitalize;
    /* font-family: Abel; */
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;    
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    /* text-shadow: -0.8px 0 #aaa, 0 0.8px #aaa, 0.8px 0 #aaa, 0 -0.8px #aaa; */
    /* text-shadow: -2px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000; */
}

p {
    font-family: Monserrat, "Helvetica Neueu", Helvetica,Arial,sans-serif;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
    /* color: #1d9b6c; */
    /* color: #0af */
    color: #666;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: capitalize;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,0.0);
    border-bottom: 1px solid rgba(255, 255, 255, .8);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .8);
        background: rgba(0, 0, 0, .5);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.65), 
            rgba(0, 0, 0, 0.65)
        ),
        url(../assets/introbw.jpg) 
        no-repeat
        bottom
        center
        fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.about-background {
    width: 100%;
    padding-top: 100px;
    line-height: 1.9em;
    margin-bottom: 1em;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: 
        linear-gradient(
            rgba(50, 50, 50, 0.1), 
            rgba(50, 50, 50, 0.1)
        ),
        no-repeat
        bottom
        center
        scroll;
}

.about-section {
    width: 70%;
    padding-top: 100px;
    line-height: 1.9em;
    margin-bottom: 1em;
    /*
    background: 
        linear-gradient(
            rgba(100, 100, 100, 0.1), 
            rgba(100, 100, 100, 0.1)
        ),
        url(../assets/projectsbw.jpg)
        no-repeat
        bottom
        center
        scroll;
    */
}

.projects-section {
    display: table;
    text-align: center;
    width: 100%;
    padding: 100px 0
    color: #fff;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*
    background: 
        linear-gradient(
            rgba(50, 50, 50, 0.1), 
            rgba(50, 50, 50, 0.1)
        ),
        url(../assets/introbw2.jpg)
        no-repeat
        bottom
        center
        scroll;
    background: -webkit-linear-gradient(#000, #000, #001); 
    background: -o-linear-gradient(#000, #000, #001); 
    background: -moz-linear-gradient(#000, #000, #001);  
    background: linear-gradient(#000, #000, #001); 
    */
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .intro-section {
        padding-bottom: -250px;
    }
    .about-section {
        padding-top: 100px;
        padding-bottom: 160px;
    }

    .projects-section {
        /* padding: 100px 0; */
        padding-bottom : 200px;
        padding-top: 200px;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: capitalize;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;ss
}

.btn-default {
    /* border: 1px solid #42dca3;*/
    /* color: #42dca3; */
    border: 3px solid #fff;
    color: #fff; 
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 3px solid #000;
    outline: 0;
    color: #000;
    background-color: #ffff;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.gen-container {
    /* debug */
    border: 1px #0000;
    background: 0;
    opacity: 0.5;
    /* loc */
    position: relative;
    top: 50%;
    left: 50%;
    -o-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%); 
    -webkit-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.portfolio-item {
    margin-bottom: 25px;
}

.portfolio-item:hover {
    opacity: 1
}
.portfolio-item:hover span {
    bottom: 3px
}

.portfolio-item span {
    background: rgba(0, 0, 0, 0.6);
    bottom: -4.5em;
    color: #fff;
    font-size: 0.85em;
    left: 0;
    padding: 10px 0;
    position: absolute;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
    width: 100%
}

/* portfolio image fade-out container */
.pitem-container {
    position: relative;
}

.pitem-container .pitem-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.pitem-container:hover .pitem-text {
    display: block;
    background: rgba(0, 0, 0, .75);
}


.pitem-text h4 {
    margin-top: 65%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.pitem-text p {
    margin-top: -5%;
}

#intro-square {
    /* background:black;
    opacity: 0.6;*/
    border: 2px solid black; 
    display: block;
    background: rgba(0, 0, 0, .5);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: -50px;
    padding-right: -50px;
}
 
#projects {
    padding-top: -20px;
}
